.home {
  position: relative;
  height: 84vh;
  background-size: cover;
  background-position: top;

  &__header {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    background: $backgroung-color-blue-dark;
  }

  &__nav {
    &--list {
      display: flex;
      height: 100%;
    }

    &--item {
      list-style-type: none;
      padding: 1rem;
    }

    &--link {
      transition: all 0.3s;
    }
  }

  &__content {
    position: absolute;
    height: 10rem;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // outline: 1px solid red;
  }
}
