.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include page-height;

  &__content {
    display: flex;
    max-width: 100%;
    width: 100rem;
    margin-top: 10rem;

    &__box {
      text-align: center;

      &--icon {
        &::before {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          background: $color-primary;
        }
      }

      &--heading {
        padding-top: 2rem;
      }

      &--p {
        padding: 2rem 1rem;
      }
    }
  }
}
