/***************************************PRIMARY************************************************/

// color
$color-primary: #fed136;
$color-white: #fff;

// font family
$font-family-primary: Montserrat, -apple-system, BlinkMacSystemFont, Segoe UI,
  Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol, Noto Color Emoji;

/***************************************HOME************************************************/

// font color
$font-color-red-dark: #504e4e;

// background
$backgroung-color-blue-dark: #212529;

/***************************************HOME************************************************/
